/*********************  Default-CSS  *********************/

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    line-height: 1.5;
    font-size: 18px;
    overflow-x: hidden;
    font-weight: 400;
    color: #000000;
}

.anim {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a,
div a:hover,
div a:active,
div a:focus,
button {
    text-decoration: none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

a,
span,
a:hover,
a:active,
button {
    text-decoration: none;
}

*::after,
*::before,
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a:focus,
button:focus,
input:focus,
select:focus {
    outline: none;
}

a:hover {
    color: #fff;
}

* {
    outline: none !important;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
p {
    margin: 0;
    font-size: 16px;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
}

button {
    overflow: unset;
    border: unset;
}

/*********************  Default-CSS close  *********************/
.bunavat_nav_link_wrap {
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.bunavat_wrapper.active .bunavat_nav_link_wrap {
    background-color: #fff;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.3);
}

.bunavat_wrapper.active .bunavat_nav_link_wrap .bunavat_nav_wrap p {
    color: #2A3592;
}

.bunavat_wrapper.active .bunavat_nav_link_wrap .bunavat_nav_wrap span svg path,
.bunavat_wrapper.active .account_info li svg path {
    stroke: #2A3592;
}

.bunavat_wrapper.active .bunavat_nav_link_inner>a svg path {
    fill: #2A3592;
}

.bunavat_wrapper.active .bunavat_nav_link_wrap .cart_items p {
    background-color: #2A3592;
    color: #fff;
}

.bunavat_nav_link_wrap ul {
    display: flex;
    align-items: center;
}

.bunavat_nav_wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.bunavat_nav_wrap p {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.bunavat_nav_link_wrap {
    width: 100%;
}

.bunavat_nav_link_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home_banner_title h2 {
    font-size: 48px;
    color: #FFFFFF;
    line-height: 1.2;

}

.common_home_banner {
    background-image: url('../img/home/home_banner_1.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    padding: 65px 0;
    position: relative;
}

.home_banner_inner {
    position: relative;
}

.common_home_banner .container {
    position: relative;
    z-index: 1;
}

.common_home_banner::after {
    content: '';
    width: 100%;
    height: 308px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.home_banner_inner {
    position: relative;
    z-index: 1;
    width: 100%;
}

.bunavat_nav_link_inner {
    padding: 14px 0px;
}

.bunavat_nav_wrap span {
    margin-left: 7px;
}

.bunavat_nav_link_inner_list li+li {
    margin-left: 50px;
}

.account_info li+li {
    margin-left: 32px;
}

.account_info li button {
    background: unset;
}

.cart_items {
    display: flex;
    align-items: center;
}

.cart_items p {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 700;
}

.common_title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #fff;
}

.summer_list_link {
    display: flex;
    align-items: center;
}

.summer_list_link p,
.summer_list_link_wrap p {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.1;
    color: #fff;
    margin-right: 10px;
}

.summer_list_link_wrap>p {
    font-weight: 400;
    font-size: 14px;
}

.summer_list {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.summer_list div+div {
    margin-left: 50px;
}

.tab_section_wrap {
    padding: 20px 0px;
    position: relative;
}

.tab_section_wrap .nav-tabs .nav-link {
    background-color: unset;
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    border: unset;
    padding: 10px 0;
    border-bottom: 2px solid transparent;
    margin-right: 30px;
}

.tab_section_wrap .nav-tabs .nav-link.active {
    border-bottom: 2px solid #000000;
}

.tab_section_wrap .nav-tabs {
    border: unset;
}

.see_all_link {
    position: absolute;
    right: 65px;
    top: 10px;
    display: flex;
    align-items: center;
}

.see_all_link p {
    margin-right: 8px;
    font-size: 14px;
    color: #000000;
    font-weight: 600;
}

.common_tab_info {
    position: relative;
}

.common_tab_img img {
    max-width: 100%;
}

.tab_section_inner {
    position: relative;
}

.common_tab_title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    padding: 65px 30px 30px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.tab_common_contain {
    margin-top: 50px;
}

.bunavat_wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
    padding: 8px;
    width: 100%;
    height: auto;
}

.tab_common_contain .row>div:nth-child(n + 3) {
    margin-top: 30px;
}

.tab_section_inner .fade {
    transition: opacity .30s linear;
}

.home_banner_inner .tab_section.nav {
    display: none;
}

.common_home_banner.bespoke_studio_wrap {
    background-image: url(../img/home/home_banner_2.png);
}

.common_home_banner.roka_exhibit_wrap {
    background-image: url(../img/home/home_banner_3.png);
}

.common_home_banner.the_bride_wrap {
    background-image: url(../img/home/home_banner_4.png);
}

.tab_section_wrap .tab-content>#controlled-tab-example-tabpane-haldi_gallery.active.show .common_tab_info {
    filter: drop-shadow(0px 32px 32px #EDBC3E);
}

.tab_section_wrap .tab-content>#controlled-tab-example-tabpane-bespoke_studio.active.show .common_tab_info {
    filter: drop-shadow(0px 32px 32px #889DB6);
}

.tab_section_wrap .tab-content>#controlled-tab-example-tabpane-roka_exhibit.active.show .common_tab_info {
    filter: drop-shadow(0px 32px 32px #B9896D);
}

.tab_section_wrap .tab-content>#controlled-tab-example-tabpane-the_bride.active.show .common_tab_info {
    filter: drop-shadow(0px 32px 32px #850E1D);
}

.tab_section_wrap .tab-content>#controlled-tab-example-tabpane-festival_of_lights.active.show .common_tab_info {
    filter: drop-shadow(0px 32px 32px #EDBC3E);
}

.tab_section_wrap .tab-content>#controlled-tab-example-tabpane-gujarati_cholis.active.show .common_tab_info {
    filter: drop-shadow(0px 32px 32px #EDBC3E);
}

.tab_section_wrap .tab-content>#controlled-tab-example-tabpane-transit_wear.active.show .common_tab_info {
    filter: drop-shadow(0px 32px 32px #EDBC3E);
}

.shop_hald_wrap {
    padding: 50px 0;
}

.shop_hald_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shop_hald_info h3 {
    font-weight: 600;
    font-size: 32px;
    color: #000000;
    margin-right: 10px;
}

.shop_hald_info p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.best_sallying_wrap.common_home_banner {
    background: unset;
}

.best_sale_video {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

.best_sale_video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cloth_info_title {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    pointer-events: none;
}

.cloth_deatils_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.save_wrap {
    display: flex;
    align-items: center;
}

.save_wrap p {
    font-size: 14px;
    color: #2A3592;
    margin-right: 10px;
}

.cloth_info_title .summer_list_link p,
.cloth_info_title .summer_list_link_wrap p {
    color: #2A3592;
}

.cloth_deatils_wrap a {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.cloth_deatils_wrap a::after {
    content: ' ';
    width: 100%;
    height: 250px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(247, 247, 247, 0) 0%, rgba(247, 247, 247, 0.9) 80.21%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cloth_wrap {
    padding: 65px 0 65px;
}

.cloth_inner .row>div:nth-child(n+3) {
    margin-top: 24px;
}

.join_the_club_wrap {
    padding: 500px 0 65px;
}

.join_the_club_wrap {
    background-image: url(../img/home/club_bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.join_the_club_inner h2 {
    font-size: 48px;
}

.join_the_club_inner p {
    font-size: 20px;
    line-height: 1.6;
    font-weight: 400;
    color: #fff;
    max-width: 550px;
    margin: 20px 0 25px;
}

.tel_number {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
}

.tel_number_wrap {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 300px;
    width: 100%;
    height: 56px;
}

.tel_number_wrap span {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    z-index: 1;
    pointer-events: none;
    font-weight: 400;
}

.tel_number_wrap input {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    outline: none;
    border: none;
    padding: 16px 16px 16px 50px;
    color: #fff;
    font-weight: 400;
}

.tel_number_wrap input::placeholder {
    color: rgb(214, 214, 214);
}

.join_btn {
    min-width: 92px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 4px;
    color: #fff;
    margin-left: 8px;
}

.join_btn:hover {
    background-color: #F2E7CB;
    color: #000000;
}

.common_link {
    display: flex;
    align-items: center;
    display: inline-flex;
    position: relative;
}

.common_link::after {
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: #F2E7CB;
    position: absolute;
    left: 0px;
    bottom: -3px;
}

.common_link span {
    color: #F2E7CB;
    font-size: 14px;
    font-weight: 600;
    margin-right: 15px;
}

.common_link:hover span {
    color: #fff;
}

.common_link:hover::after {
    background-color: #fff;
}

.common_link:hover svg path {
    stroke: #fff;
}

.footer_header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_blog_section {
    padding: 40px 0;
}

.footer_header_wrap ul,
.social_media_wrap a {
    display: flex;
    align-items: center;
}

.footer_header_wrap ul li p,
.social_media_wrap p {
    font-size: 14px;
    color: #000;
    line-height: 1.5;
    font-weight: 600;
}

.new_text {
    width: 35px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    font-weight: 800;
    color: #000;
    background-color: #F2E7CB;
    margin-left: 6px;
}

.footer_header_wrap ul li+li {
    margin-left: 32px;
}

.social_media_wrap p {
    margin-right: 8px;
}

.blog_info {
    margin-top: 30px;
}

.blog_info h3 {
    font-size: 14px;
    line-height: 1.25;
    color: #70758A;
    font-weight: 600;
}

.blog_info p {
    margin-top: 5px;
}

.blog_info p,
.blog_info ul li {
    font-size: 12px;
    line-height: 1.5;
    color: #9A9EB0;
}

.blog_info ul {
    padding-left: 15px;
}

.blog_info ul li {
    list-style: disc;
    color: #9A9EB0;
}

.blog_info ul {
    margin-top: 10px;
}

.footer_logo {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.footer_blog_inner {
    position: relative;
}


.category_page_wrapper {
    padding: 180px 0 100px
}

.cloth_title_wrap h2 {
    font-size: 48px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cloth_title_wrap h2 p {
    font-size: 48px;
    padding: 10px;
    background-color: #FFF5DD;
}

.design_filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.design_filter button+button {
    margin-left: 32px;
}

.design_filter button {
    position: relative;
    background-color: unset;
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    font-weight: 600;
    margin-top: 12px;
}

.design_filter button::after {
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    left: 0px;
    bottom: -5px;
    opacity: 0;
}

.design_filter {
    padding: 20px 0 65px;
}

.design_filter button.active::after {
    opacity: 1;
}

.sidebar_menu_wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
    padding: 65px 15px;
    left: -100%;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.dark_bg {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.sidebar_menu_list {
    max-width: 414px;
    height: 100%;
    background-color: #fff;
    padding: 30px;
    overflow-y: auto;
    position: relative;
    width: 100%;
    -webkit-transition: all 1s ease 0s;
    -moz-transition: all 1s ease 0s;
    -ms-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
}

.inner_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.common_sidebar_link span {
    font-size: 24px;
    font-weight: 600;
    color: #000;
    line-height: 1.3;
}

.search_input {
    display: flex;
    align-items: center;
    position: relative;
}

.search_input input {
    border: unset;
    width: 100%;
    padding: 15px 30px 15px 35px;
    border-bottom: 1px solid #000;
    color: #000;
}

.search_input input::placeholder {
    color: #c3c3c3;
}

.search_input span {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.addvanced_btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    font-size: 12px;
    font-weight: 600;
    color: #2A3592;
}

.common_link_wrap li {
    height: 80px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    align-items: center;
    max-width: 354px;
    white-space: nowrap;
}

.sidebar_wrapper {
    position: relative;
    overflow: hidden;
}

.inner_menu .inner_menu_wrap::-webkit-scrollbar,
.sidebar_menu_list::-webkit-scrollbar {
    width: 5px;
}

.inner_menu .inner_menu_wrap::-webkit-scrollbar-track,
.sidebar_menu_list::-webkit-scrollbar-track {
    background: #ddd;
}

.inner_menu .inner_menu_wrap::-webkit-scrollbar-thumb,
.sidebar_menu_list::-webkit-scrollbar-thumb {
    background: #666;
}

.inner_menu .inner_menu_wrap {
    max-width: 0;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    left: 384px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 0 0 0px;
    transition: all 1s ease 0s;
    visibility: hidden;
    opacity: 0;
    overflow-x: hidden;
}

.common_arrow_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: unset;
    outline: unset;
    border: unset;
}

body[menu-class="kind_menu"] .kind_menu.inner_menu .inner_menu_wrap {
    max-width: 384px;
    opacity: 1;
    visibility: visible;
}

body[menu-class="kind_menu"] .sidebar_menu_list {
    max-width: 828px;
}

body[menu-class="bridal_menu"] .bridal_menu.inner_menu .inner_menu_wrap {
    max-width: 384px;
    opacity: 1;
    visibility: visible;
}

body[menu-class="bridal_menu"] .sidebar_menu_list {
    max-width: 828px;
}

body[menu-class="festive_menu"] .festive_menu.inner_menu .inner_menu_wrap {
    max-width: 384px;
    opacity: 1;
    visibility: visible;
}

body[menu-class="festive_menu"] .sidebar_menu_list {
    max-width: 828px;
}

body[menu-class="regional_menu"] .regional_menu.inner_menu .inner_menu_wrap {
    max-width: 384px;
    opacity: 1;
    visibility: visible;
}

body[menu-class="regional_menu"] .sidebar_menu_list {
    max-width: 828px;
}

body[main-sidebar="shopsidebar"] .shop_sidebar {
    left: 0;
}

.product_slider_section {
    width: 100%;
}

.product_info_section_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 140px;
    background-color: #F4F4F4;
}

.product_info_right_section_wrap {
    background-color: #EBEAED;
}

.product_filters {
    height: 72px;
    padding: 8px;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.product_filters_wrap {
    display: flex;
    align-items: center;
    width: 100%;
}

.product_filters_wrap .form-control {
    border: unset;
}

.common_select_wrap {
    flex-grow: 1;
}

.common_select_wrap .MuiFormControl-root {
    margin: 0px;
    width: 100%;
}

.common_select_wrap .MuiSvgIcon-root {
    display: none;
}

.common_select_wrap fieldset {
    border: unset;
}

.common_option {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.common_select_wrap .MuiList-root {
    padding: 0px;
}

li.common_option_wrap {
    height: 56px;
    width: 100%;
}

.common_option,
.color_wrapper p {
    font-size: 14px;
    color: #2A3592;
    font-weight: 600;
}

.product_filters_wrap {
    background-color: #fff;
}

.common_radio_btn .MuiFormControlLabel-root {
    margin-bottom: 0;
    margin-right: 5px;
}

.color_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
}

.chet_size span {
    margin-left: 35px;
    min-width: 30px;
    display: inline-block;
}

.common_select_wrap {
    border-right: 1px solid #EBEAED;
}

.clear_btn {
    min-width: 100px;
    height: 100%;
    background-color: #2A3592;
    height: 56px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.clear_btn span {
    margin-right: 10px;
}

.MuiList-root li:nth-child(even) {
    background-color: #F2F4FF;
}

.MuiList-root li:nth-child(odd) {
    background-color: #fff;
}

.common_option .MuiSvgIcon-root path {
    fill: #2A3592;
}

.cart_wrap {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 100%;
    top: 0px;
    padding: 80px 0 30px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    z-index: 2;
}

.cart_dark {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.cart_inner {
    max-width: 414px;
    height: 100%;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    margin-left: auto;
    margin-right: 8px;
    overflow-y: auto;
}

.cart_inner nav {
    display: flex;
    align-items: center;
}

.cart_inner nav.nav-tabs .nav-item {
    flex-grow: 1;
    border: unset;
    border-bottom: 4px solid #EEEEEE;
    height: 56px;
    display: flex;
    align-items: center;
    color: #000000;
}

.cart_inner nav.nav-tabs .nav-item.active {
    border-color: #2A3592;
    color: #2A3592;
}

.cart_inner .nav-tabs .nav-link {
    font-size: 14px;
    font-weight: 600;
}

.cart_inner .nav-tabs .nav-link:focus,
.cart_inner .nav-tabs .nav-link:hover {
    color: #000000;
}

.cart_information {
    padding: 25px 30px;
    display: flex;
    align-items: center;
}

.cart_product_info {
    margin-left: 25px;
}

.card_img {
    max-width: 120px;
    width: 100%;
}

.cart_product_info h3 {
    font-size: 14px;
    color: #000;
    font-weight: 600;
}

.cart_product_info>p {
    font-size: 12px;
    color: #9A9EB0;
    line-height: 1.2;
    margin-top: 3px;
}

.quantiy_wrapper {
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.cart_product_info .quantiy_wrapper p {
    font-size: 14px;
    color: #000000;
    line-height: 1.5;
    font-weight: 600;
    margin-right: 25px;
}

.quantiy_inner {
    display: flex;
    align-items: center;
}

.quantiy_inner .common_btn {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color: #F8F3E6;
}

.quantiy_inner input {
    width: 50px;
    height: 25px;
    font-size: 14px;
    color: #000;
    text-align: center;
    border: unset;
    outline: unset;
}

.remove_cart_block {
    display: flex;
    justify-content: space-between;
}

.remove_cart_block p {
    font-size: 14px;
    color: #000;
    font-weight: 600;
}

.remove_btn {
    background-color: unset;
    color: #DA4949;
    font-weight: 600;
    font-size: 12px;
}

.remove_btn span {
    margin-left: 5px;
}

.cart_inner .tab-content {
    height: calc(100% - 56px);
    overflow-y: auto;
    display: block;
    overflow-x: hidden;
}
.cart_inner .tab-content .cart_inner::-webkit-scrollbar-track,
.cart_inner .tab-content .cart_inner .tab-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}
.cart_inner::-webkit-scrollbar,
.cart_inner .tab-content::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
.cart_inner::-webkit-scrollbar-thumb,
.cart_inner .tab-content::-webkit-scrollbar-thumb {
    background-color: #2A3592;
    border: 2px solid #555555;
}

.saved_wrapper .row {
    margin: 0 -2.5px;
}

.saved_wrapper .row>div {
    padding: 0 2.5px;
    margin-bottom: 5px;
}

.saved_img_information {
    position: relative;
}

.cart_price_wrapper {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 48px 15px 20px 15px;
    background: linear-gradient(180deg, rgba(239, 239, 239, 0) 0%, #EFEFEF 100%);
}

.cart_price_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.price_of_cart_wrap span {
    margin-right: 5px;
}

.price_of_cart_wrap span,
.price_of_cart_wrap s {
    font-size: 12px;
    color: #2A3592;
    line-height: 1.1;
    font-weight: 600;
}

.plus_cart {
    background-color: unset;
    font-size: 12px;
    color: #2A3592;
}

.plus_cart span {
    margin-left: 5px;
    font-weight: 600;
}

.cart_wrap.active {
    left: 0;
}

.structured_fabric_wrapper {
    padding: 65px 0;
}

.product_left_details {
    position: absolute;
    left: 0px;
    bottom: 0;
    padding: 50px;
}

.product_left_details p {
    font-size: 20px;
    color: #F2E7CB;
    font-weight: 400;
}

.product_left_details span {
    font-size: 14px;
    color: #F2E7CB;
}

.product_price_wrap {
    font-size: 10px;
    font-weight: 700;
}

.common_product_dark_bg {
    position: relative;
}

.common_product_dark_bg::after {
    content: ' ';
    width: 100%;
    max-height: 250px;
    height: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
}

.star_content {
    padding: 95px 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.star_wrap {
    display: flex;
    align-items: center;
}

.star_wrap svg+svg {
    margin-left: 6px;
}

.star_content>p {
    font-size: 20px;
    max-width: 465px;
    color: #000000;
    text-align: center;
    margin: 30px 0;
}

.female_details h3 {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin-bottom: 0px;
    text-align: center;
}

.female_details span {
    color: #000000;
    font-size: 14px;
    text-align: center;
}

.review_wrap {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.review_wrap span {
    color: #2A3592;
    font-size: 14px;
    font-weight: 600;
    margin-left: 8px;
}

.might_like_inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.might_like_inner p {
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.might_like_inner a {
    color: #2A3592;
    font-weight: 700;
    font-size: 10px;
    line-height: 1.6;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.might_like_inner a svg {
    margin-left: 5px;
}

.might_like_wrap .cloth_inner .row>div:nth-child(n+3) {
    margin-top: unset;
}

.might_like_wrap .cloth_inner .row>div:nth-child(n+4) {
    margin-top: 24px;
}

.product_slider_section .row {
    height: 100%;
}

.product_slider .slick-dots {
    left: 0px;
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    z-index: 6;
    display: flex !important;
    flex-direction: column;
    padding-left: 20px;
}

.product_slider .slick-slide div {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #ebeaed;
}

.product_slider .slick-dots li button:before {
    width: 8px;
    height: 8px;
    content: '';
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 100%;
    border: 1px solid #2A3592;
    background-color: transparent;
    opacity: 1;
}

.product_slider .slick-dots li.slick-active button:before {
    background-color: #2A3592;
}

.product_title_wrap h2 {
    font-size: 24px;
    font-weight: 600;
    color: #2A3592;
}

.product_title_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_info_section {
    max-width: 495px;
    width: 100%;
}

.saved_wrap span {
    font-size: 14px;
    display: inline-block;
    margin-right: 8px;
    color: rgba(42, 53, 146, 0.2);
}

.common_product_details>div {
    color: #2A3592;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
}

.common_product_details>div span {
    font-weight: 600;
}

.product_link {
    position: relative;
    color: #2A3592;
}

.product_link::after {
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: #2A3592;
    position: absolute;
    left: 0px;
    bottom: -3px;
}

.produt_time_wrap {
    display: flex;
    align-items: center;
}

.produt_time_wrap p {
    font-size: 10px;
    color: #2A3592;
    font-weight: 500;
    padding: 3px 6px;
    background-color: #FFF5DA;
    margin-left: 15px;
}

.product_link svg {
    margin-left: 10px;
}

.stock_main_wrap {
    display: flex;
    align-items: center;
}

.stock_info h3 {
    font-size: 14px;
    color: #2A3592;
    font-weight: bold;
}

.stock_info p {
    font-size: 10px;
    margin-top: 2px;
    color: #2A3592;
}

.stock_title_wrap {
    margin-right: 15px;
}

.stock_list ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.stock_list ul li {
    flex: 0 0 50%;
}

.stock_list {
    margin-top: 52px;
}

.pin_code_weap input {
    width: 100%;
    height: 40px;
    border: 2px solid #2A3592;
    border-radius: 4px;
    padding: 8px 12px 8px 25px;
    font-size: 10px;
    color: #2A3592;
    font-weight: bold;
    max-width: 230px;
    background-color: #F4F4F4;
}

.pin_code_weap input::placeholder {
    color: #2A3592;
}

.edit_icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

.pin_code_weap {
    position: relative;
}

.stock_list ul li:nth-child(n+3) {
    margin-top: 30px;
}

.know_wrap {
    background-color: #2A3592;
}

.know_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.know_inner p {
    color: #fff;
    font-size: 16px;
    margin-left: 20px;
}

.know_link {
    color: #fff;
    position: relative;
    margin-left: 5px;
}

.know_link::after {
    content: ' ';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    bottom: -5px;
}

.know_link svg {
    margin-left: 5px;
}

.sell_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recemtly_wrap {
    padding: 32px 0;
}

.sell_wrap h3 {
    font-size: 14px;
    font-weight: 600;
}

.sell_wrap a span {
    color: #2A3592;
    font-size: 10px;
    font-weight: 700;
    margin-right: 5px;
}

.recently_col_wrap {
    margin-top: 32px;
}

.recent_view_product {
    position: relative;
}

.recent_price p {
    font-size: 10px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: 15px;
    bottom: 8px;
}

.product_filters_wrap.product_page_filtter {
    max-width: 630px;
}

.chet_size_1 {
    opacity: 0;
}

.common_select_wrap.first_option .chet_size {
    opacity: 0;
}

.common_select_wrap .MuiInputBase-root>div::after {
    content: ' ';
    width: 12px;
    height: 8px;
    background-image: url(http://localhost:3000/static/media/select_arrow.2a2ccb5fb71233ec4403.svg);
    background-size: contain;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
    display: flex;
    transform: rotate(180deg);
    opacity: 0;
}

.common_select_wrap .MuiInputBase-root>div[aria-expanded="true"]::after {
    transform: rotate(0deg);
}

.common_select_wrap.first_option .MuiInputBase-root>div::after {
    opacity: 1;
}

.slaman_link p {
    font-size: 14px;
    color: #2A3592;
    font-weight: 500;
    margin-right: 30px;
    font-weight: 600;
}

.color_list {
    display: flex;
    align-items: center;
}

.color_list li {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    position: relative;
    cursor: pointer;
}

.color_list li+li {
    margin-left: 12px;
}

.color_list li.active::after {
    content: ' ';
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: -2px;
    top: -2px;
    background-color: #fff;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 100%;
    z-index: -1;
}

.slaman_link {
    display: flex;
    align-items: center;
}

.product_filters_wrap {
    display: flex;
    justify-content: space-between;
}

.add_btn_wrap {
    max-width: 240px;
    width: 100%;
    min-height: 100%;
    position: relative;
    display: flex;
    height: 56px;
}

.add_btn_wrap .clear_btn.add_btn {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add_btn.right_btn {
    background-color: #3D4DDA;
}

.login_body {
    padding: 72px;
    background: #EAEBF0;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
}

.login_title_wrap{
    text-align: center;
}

.login_title_wrap h3{
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    line-height: 1.2;
}
.login_title_wrap h4{
    font-size: 14px;
    font-weight: 400;
    color: #70758A;
    line-height: 1.5;
    margin-top: 10px;
}

.login_title_wrap h4 span{
    font-weight: 600;
}

.login_input_inner{
    position: relative;
}
.login_input_inner input{
    width: 100%;
    height: 56px;
    color: #000;
    padding: 10px 15px 10px 45px;
    font-size: 14px;
    border: unset;
    border-radius: 4px;
}

.login_input_inner input::placeholder{
    color: #9A9EB0;
}

.login_input_inner span{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #9A9EB0;
}
.login_input_wrap button {
    margin-top: 15px;
    background-color: #2A3592;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 4px;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #2A3592;
}

.login_input_wrap button span{
    color: #fff;
}

.login_input_wrap{
    margin: 30px 0;
}
.login_info_wrap p{
    max-width: 240px;
    color: #70758A;
    text-align: center;
    margin: 0 auto;
}

.login_input_wrap button:hover{
    background-color: transparent;
}
.login_input_wrap button:hover span{
    color: #2A3592;
}
.login_input_wrap button:hover svg path{
    stroke: #2A3592;
}
.login_input_inner > div{
    display: flex;
    width: 100%;
}
.login_input_inner [role="button"] {
    flex-grow: 1;
    height: 56px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px;
    border: unset;
}
.login_input_inner [role="button"] + [role="button"]{
    margin-left: 8px;
}
.resend_otp_wrap{
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.resend_otp_wrap button {
    font-size: 14px;
    color: #2A3592;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
}
.change_num_btn span{
    margin-left: 5px;
    display: inline-block;
}
.resend_btn span{
    margin-right: 5px;
    display: inline-block;
}

.banner_links{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.date_wrap .rdp-table,
.date_wrap .rdp-month:last-child
{
    max-width: 100%;
    width: 100%;
}
.date_wrap .rdp{
    margin: 0;
}
.date_wrap .rdp {
    --rdp-cell-size: 55px;
}
.date_wrap{
    padding: 10px;
}
.date_wrap .rdp-caption{
    background-color: #2A3592;
    color: #fff;
}
.cla_news_left span{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    margin-right: 10px;
}
.cla_news_left p{
    font-size: 10px;
    font-weight: 600;
    margin-top: 1px;
}
.cal_news_wrap {
    padding: 10px;
    background-color: #D4D9F1;
    max-height: 100%;
    flex-grow: 1;
}
.cal_news{
    padding: 25px;
    background-color: #fff;
    border-radius: 4px;
}
.cal_news + .cal_news{
    margin-top: 10px;
}
.cla_news_left{
    display: flex;
    align-items: center;
}
.cla_news_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cla_news_title > span{
    color: #9A9EB0;
    font-size: 10px;
    font-weight: 600;
}
.workshop_title{
    margin: 15px 0 60px;
}
.workshop_title h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.44;
}
.workshop_title p{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.44;
}
.join_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.join_btn_wrap{
    display: flex;
    align-items: center ;
}
.join_btn{
    background-color: transparent;
    border: 2px solid #2A3592;
    font-size: 10px;
    border-radius: 2px;
    min-width: 50px;
    height: 28px;
    color: #2A3592;
    font-weight: 700;
}
.join_btn:hover{
    color: #fff;
    background-color: #2A3592;
}
.join_wrap p{
    font-size: 10px;
    font-weight: 700;
    color: #9A9EB0;
}
.calander_wrap{
    display: flex;
    flex-direction: column;
}
.date_sync {
    position: sticky;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    width: 100%;
    background-color: #D4D9F1;
}
.date_sync button{
    background-color: #D4D9F1;
}